<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Color
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="accordion-body">
        <div *ngIf="dataLoaded == false"  class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div *ngIf="dataLoaded==true " class="list-group">
          <div class="mb-3">
            <label for="searchColor" class="form-label">Search</label>
            <input type="text" [(ngModel)]="searchColor" class="form-control" placeholder="please enter the color name..">
          </div>
          <div *ngIf ="searchColor">
            <a  routerLink ="/cars/color/{{color.colorId}}" *ngFor = "let color of colors | colorSearch:searchColor" [class]="getCurrentColorClass(color)" aria-current="true" (click)="setCurrentColor(color)">
                {{color.colorName}}
            </a>
          </div>
        </div>
        </div>
      </div>
      
    </div>

