   <br>
   <div class="container">
    <br>
        <select class="form-select" [(ngModel)]="currentColorId" id="color">
            <option [ngValue]="undefined">Please select a color</option>
            <option *ngFor="let color of colors" [value]="color.colorId" [selected] ="setColor(color.colorId)" id="colorname">{{color.colorName}}</option>
        </select>
        <select class="form-select" [(ngModel)]="currentBrandId" id="brand">
            <option [ngValue]="undefined">Please select a brand</option>
            <option *ngFor="let brand of brands" [value] = "brand.brandId" [selected] ="setBrand(brand.brandId)" id="brandname">{{brand.brandName}}</option>
        </select>
        <button routerLink="/filter/{{currentColorId}}/{{currentBrandId}}" type="button" mdbBtn color="dark" class="waves-light" style="margin-left: 8rem;margin-top: .5rem; border-radius: .7rem;" >Search</button>
    </div>
   
      

