  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Brand
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div *ngIf="dataLoaded == false"  class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div *ngIf="dataLoaded==true" class="list-group">
            <a routerLink= "/cars/brand/{{brand.brandId}}" *ngFor = "let brand of brands" href="#" [class]="getCurrentBrandClass(brand)" aria-current="true" (click)="setCurrentBrand(brand)">
                {{brand.brandName}}
            </a>
            <h5 *ngIf="currentBrand">{{currentBrand.brandName}} sectiniz</h5>
          </div>
      </div>
    </div>
  </div>