.bg{
    background-color:rgba(92, 15, 15, 0.61);
}
a{
    font-size:18px;
    font-weight: 600;
    color:rgba(10, 10, 20, 0.671)
}
.btn-bg{
    font-weight:600;
    background-color: rgb(219, 201, 201);
    color:rgb(51, 0, 0)

}