.bg{
    background-color: rgb(24, 27, 32);
}
a{
    font-size:18px;
    font-weight: 600;
    color:rgb(151, 151, 151)
}
.btn-bg{
    font-weight:600;
    background-color: rgb(139, 141, 150);
    color:rgba(0, 0, 0, 0.658)

}