  <!--- Navbar --->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-light"><i class="fa fa-car mr-1"></i>Rent A Car</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nvbCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-1">
            <a class="nav-link"><i class="fa fa-home fa-fw mr-1"></i>Home</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link" routerLink="/cars"><i class="fa fa-car fa-fw mr-1"></i>Cars</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link"><i class="fa fa-info-circle fa-fw mr-1"></i>Information</a>
          </li>
          <li *ngIf="!isLogin()"  class="nav-item pl-1">
            <a class="nav-link" routerLink="/login"><i class="fa fa-arrow-right fa-fw mr-1"></i>Sign In</a>
          </li>
          <li *ngIf="isLogin()"  class="nav-item pl-1">
            <a class="nav-link"><i class="fa fa-user fa-fw mr-1"></i>Welcome {{user}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--# Navbar #-->

<!--- Footer --->
  <!-- <footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
            <div class="card bg-secondary border-0">
              <div class="card-body text-light text-center">
                <h5 class="card-title text-white display-4" style="font-size:30px">Telif Hakkı</h5>
              <p class="d-inline lead">Tüm Hakları Saklıdır © 2018<br>
              <a href="#" class="text-light d-block lead">Blog</a>
              </p>
  
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
            <div class="card bg-secondary border-0">
              <div class="card-body text-center">
                <h5 class="card-title text-white display-4" style="font-size:30px">İletişim</h5>
                <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+90 (000) 000 0 000</a>
                <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>admin@localhost.com</a>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card bg-secondary border-0">
              <div class="card-body text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>
          
                  <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
                
                  <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
                
                  <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                
                  <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </footer> -->