.navbar {
  background-color: rgb(24, 27, 32);
}
.navbar .navbar-nav .nav-link {
  color: rgb(151, 151, 151);
}
.navbar .navbar-nav .nav-link:hover {
  color: #707070;
}
.navbar .navbar-nav .active > .nav-link {
  color: #707070;
}

footer a.text-light:hover {
  color: #707070 !important;
  text-decoration: none;
}
footer .cizgi {
  border-right: 1px solid #535e67;
}
@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
