body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    background: #fff !important;
    border: none;
    border-radius: 20px
}

h6.text-muted {
    color: #6c757d85 !important
}

h4.text-danger {
    color: #f11126 !important
}

.htwo {
    margin-left: 200px
}

.scol {
    padding-left: 60px
}

.row.r2 {
    margin-bottom: 20px
}

.row.r2:after {
    content: '.';
    font-size: 0;
    display: block;
    height: 1px;
    width: 77%;
    background: #a9abae3d
}

h3.payment {
    margin-top: 30px
}

h6.payment-method {
    margin-top: 30px
}

.r5.col-2 {
    padding-left: 0
}

div.col-2 {
    cursor: pointer
}

.personalDetails {
    margin-right: 100px;
    padding-top: 30px
}

.form-control {
    border: none;
    border-radius: none;
    border-bottom: 1px solid #a9abae3d
}

.form-control:focus {
    border: none;
    color: #000 !important;
    font-weight: bold;
    border-color: #fff;
    border-bottom: 1px solid #a9abae3d;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25)
}

.far {
    color: #adb5bd
}

.th {
    margin-top: 10px
}

.btn.btn-primary {
    border: none;
    border-radius: 40px;
    width: 40%
}

@media screen and (max-width: 1200px) {
    .rcol {
        width: 100%
    }

    .scol {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%
    }

    .row.r2:after {
        width: 95%
    }
}

table {
	width: 40rem;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: rgb(144, 146, 150);
}

th {
	text-align: left;
}

thead {
		background-color: #212229;
}

