<button type="button" mdbBtn color="light" class="waves-light float-right" style="border-radius: .7rem;"data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
  >Rent It</button>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Rent</p>
      </div>

      <!--Body-->
    <div class="modal-body">

      <div class="form-group row mb-4">   
        <div class="col-4" for="brandName"> Brand:</div>
            <div class="col-8" style="font-size: 1.2rem">
              <input type="text" class = "form-control" [value]="car.brandName" disabled>
            </div>
      </div>

      <div class="form-group row mb-4">  
        <div class="col-4" for="dailyprice">Daily Price:</div>
            <div class="col-8" style="font-size: 1.2rem">
              <input type="text" class = "form-control" [value]="car.dailyPrice|vatAdded:10 |currency" disabled>
            </div>
      </div>

      <div class="form-group row mb-4"> 
        <div class="col-4" for="customerId">Customers:</div>
          <div class="col-8">
            <select class="form-select" [(ngModel)]="currentCustomerId" id="customer">
              <option class="form-control" *ngFor="let customer of customers" [value] = "customer.id" [selected]="setCustomer(customer)" id="customer">{{customer.companyName}}</option>
            </select>
          </div>
      </div>

      <form [formGroup] ="rangeFormGroup">
        <div class="form-group row mb-4"> 
          <div class="col-4" for="rent-returndate">Date:</div>
            <div class="col-8">
              <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>  
                <mat-date-range-input [rangePicker]="picker" separator="to" required [min]="today">   
                  <input matStartDate placeholder="Rent Date" formControlName="rentDate">  
                  <input matEndDate placeholder="Return Date" formControlName="returnDate">  
                </mat-date-range-input>  
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                <mat-date-range-picker #picker></mat-date-range-picker>  
                <mat-error>Date Range is mandatory</mat-error>  
              </mat-form-field>  
            </div>
        </div>
      </form>
      <a type="button" mdbBtn color="elegant" class="waves-light" style="color: white; border-radius: .7rem; margin-left: 21rem ;" mdbWavesEffect data-dismiss="modal"  (click) = addRent() >
        Rent
      </a>
    </div>      
    </div>
    <!--/.Content-->
  </div>
</div>