<button type="button" mdbBtn color="light" class="waves-light" style="border-radius: .7rem;"data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
  >Rent It</button>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center" style="background-color: rgb(53, 60, 71);">
        <p class="heading">Rent</p>
      </div>

      <!--Body-->
    <div class="modal-body" style="background-color: rgb(165, 170, 180); text-align: left;">
        <div class="row">
            <div class="col-md-5" style="font-size: 1.4rem; font-weight: bolder;">
                <label for="brandName" style="color: black;">Brand:</label>
                <br>
                <label for="dailyprice" style="color: black;">Daily Price:</label>
                <br>
                <label for="dailyprice" style="color: black;">Rent Date:</label>
                <br>
                <label for="dailyprice" style="color: black;">Renturn Date:</label>
            </div>
            <div class="col-md-7">
                <input type="text" style="color: black;" value="{{car.brandName}}" disabled>
                <br>
                <input type="text" style="color: black;" value="{{car.dailyPrice|vatAdded:10 |currency}}" disabled>
                <br>
                <input type="date" name="rentdate" id="rentDate">
                <br>
                <input type="date" name="returndate" id="returnDate">
            </div>
           
        </div>    
    </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center" style="background-color: rgb(53, 60, 71);">
        <a type="button" mdbBtn color="light" class="waves-light" style="color: black; border-radius: .7rem;" mdbWavesEffect data-dismiss="modal">Rent</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>