<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="accordion" id="accordion">
                <app-color></app-color>
                <app-brand></app-brand>
            </div>
            <br>
            <app-filter></app-filter>
        </div>
        <div class ="col-md-9">
            <div *ngIf="dataLoaded == false"  class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="mb-3">
              <label for="searchCar" class="form-label">Search</label>
              <input type="text" [(ngModel)]="searchCar" class="form-control" id="searchColor" placeholder="please enter the car name..">
            </div>
            <div *ngIf="dataLoaded==true" class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor ="let car of carsDetail | carSearch:searchCar"  class="col">
                  <div class="card h-100">
                    <img [src]="getCarImagePath(car)" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{car.brandName}} {{car.modelYear}}</h5>
                      <p class="card-text">{{car.carName}}</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink="/car-detail/{{car.id}}" type="button" mdbBtn color="light" class="waves-light" style="border-radius: .7rem;"(click)=setCurrentCar(car)>Details</button>
                        <app-rental [car]=car></app-rental>
                    </div>
                  </div>
             </div>
          </div>
</div>

