<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="accordion" id="accordionExample">
                <app-color></app-color>
                <app-brand></app-brand>
            </div>
        </div>
        <div class ="col-md-9">
            <div *ngIf="dataLoaded == false"  class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            
            <div *ngIf="dataLoaded==true" class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor ="let car of carsDetail"  class="col">
                  <div class="card h-100">
                    <img [src]="getCarImagePath(car)" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{car.brandName}} {{car.modelYear}}</h5>
                      <p class="card-text">{{car.carName}}</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink="/car-detail/{{car.id}}" type="button" class="btnDetails btn-secondary btn-sm mb-1" (click)=setCurrentCar(car)>Details</button>
                        
                        <button  type="button" class="btnRental btn-secondary btn-sm mb-1">Rental</button>
                    </div>
                  </div>
                </div>
              </div>
</div>

